.gallery {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &-image {
    position: relative;
    display: block;
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

    &.active {
      opacity: 1;
    }

    &__img {
      position: relative;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &-video {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;

    &-container {
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &-audio {
      position: absolute;
      width: rem(40px);
      height: rem(40px);
      bottom: rem(50px);
      left: clampy(35px, 40px);
      z-index: 11;
      cursor: pointer;
      display: inline-flex;
      justify-content: center;
      align-items: center;

      &:focus {
        outline: none;
      }

      &__icon {
        font-size: rem(25px);
        color: #fff;
        opacity: 1;
        transition: opacity 0.75s var(--cubic);
        position: absolute;
      }

      .fa-volume-up {
        opacity: 0;
      }

      &--active {
        .gallery-video-audio__icon {
          opacity: 0;
        }

        .fa-volume-up {
          opacity: 1;
        }
      }
    }
  }
}
